@using Microsoft.AspNetCore.Identity
@using System.Collections.Generic
@model List<ChatMessageModelResponse>

<div class="container">
    @if (Model.Count > 0) {
        <div class="row">
            <div class="col-md-12">
                <strong>Chat room: </strong>@Model[0].RoomName
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12 alert alert-light rounded-sm">
            <div id="chatMessages">
                @if (Model.Count > 0) {
                    @foreach (ChatMessageModelResponse chatMessage in Model) {
                        <div class="alert alert-info col-md-12">
                            <strong>@chatMessage.User:</strong> @chatMessage.Text
                            <span class="float-right">@chatMessage.Date</span>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="input-group">
            @if (Model.Count > 0) {
                <input type="hidden" id="chatRoomId" value="@Model[0].RoomId" />
            }
            <input type="text" id="message" class="form-control" placeholder="Write your message here..." aria-label="Write your message" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-secondary" type="button" id="sendMessage">Send message</button>
                <button class="btn btn-outline-secondary" type="button" id="clearMessage">Clear</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
